<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Alrais. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="alrais_vehiclefilter" frontName="alrais_vehiclefilter">
            <module name="Alrais_VehicleFilter" />
        </route>
    </router>
</config>
