<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        
        <update id="Alrais_Extensions::alraisextensions" title="Alrais Extensions" module="Magento_Backend" resource="Alrais_Extensions::alraisextensions"/>
        <add id="Alrais_CategoryListing::main" title="Category Listing" module="Alrais_CategoryListing" sortOrder="40" resource="Alrais_CategoryListing::category" parent="Alrais_Extensions::alraisextensions"/>
        <add id="Alrais_CategoryListing::category" title="Manage Category" module="Alrais_CategoryListing" sortOrder="50" parent="Alrais_CategoryListing::main" action="category/index/index/" resource="Alrais_CategoryListing::category"/>
        
    </menu>
</config>
